* {
    margin: 0;
    padding:0;
    font-family: "Outfit", sans-serif;
    box-sizing:border-box;
    background-color: #131334;
    color: #ebebeb;
}

.container {
    max-width: 992px;
    margin: 0 auto;
}

main {
    margin-bottom: 1.5rem;
}
h1 {
    font-size: 4em;
    font-weight: 900;
}

/*griglia del calendario */
.day {
    display: inline-block;
    /*100% diviso 7 fa più o meno 14, percui i div a 14% saranno sette*/
    width: 14%;
    /*992 diviso 7 viene più o meno*/
    height: 130px;
    /*il numero del giorno è centrato in orizzontale e verticale per cui avraà una position absolute quindi il padre dovrà essere relative*/
    position: relative;
    border: 1px solid transparent;
    cursor: pointer;
}

.day:hover, .day:hover h3 {
    background-color: darkslateblue;
}

.day h3 {
    text-align: center;
    font-size: 20px;
    margin: 0;
    position: absolute;
    top: 40px;
    left:0;
    right:0;
}

.day.selected {
    border-color: blueviolet;
}

.dot {
    position: absolute;
    left: 45%;
    bottom: 20px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: blueviolet;
}

.currentDay {
    background-color:pink;
}

.sunday {
    color:red;
}

h2 {
    font-size: 36px;
    font-weight: 700px;
    margin-bottom: 1rem;
}
h4 {
    margin-bottom: 1.5rem;
}

#addMeeting div {
    display:inline-block;
    vertical-align: bottom;
    margin-right: 3.5em;
}

form {
    display: inline;
}

input {
    width: 130px;
    min-height: 36px;
    background-color: #0c0b1d;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
}

input:focus {
    background-color: darkslateblue;
}
input:focus::placeholder {
    color:blueviolet;
}

#newMeetingDay {
    display:inline-block;
    min-height: 40px;
}

#newMeetingDay.hasDay {
    font-size:28px;
    font-weight: 700;
    background-color:#0c0b1d ;
    border-radius: 5px;
    padding: 0 5px;
}

#newMeetingName {
    width: 200px;
}

#newMeetingTime::-webkit-calendar-

form button {
    cursor: pointer;
    background-color: blueviolet;
    color:#ebebeb;
    border:none;
    border-radius: 5px;
    width:130px;
    min-height: 36px;
    font-weight: 700;
    padding:10px;

}

